################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleCourseManagement/.vs
/SimpleCourseManagement/WcfServices/WcfServices.csproj.user
