<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="WcfServices.AdminService">
                <endpoint address="http://localhost:40000/AdminService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WcfServices.IAdminService" />
            </service>
            <service name="WcfServices.TeacherService">
                <endpoint address="http://localhost:40000/TeacherService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WcfServices.ITeacherService" />
            </service>
            <service name="WcfServices.StudentService">
                <endpoint address="http://localhost:40000/StudentService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WcfServices.IStudentService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>